* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial;
}

/* Navigation Bar Style  */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 20px;
  padding: 10px 0px;
  max-width: 100vw;
  height: 30px;
}
.logo h1 {
  font-size: 30px;
  margin-top: 10px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
li {
  padding: 0px 20px;
  list-style: none;
}
li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
}

/* Contact and Button Page Styling*/

.contact-container {
  margin-left: 90px;
  width: fit-content;
  position: relative;
  top: 79px;
}
.contact {
  font-weight: 800;
  font-size: 50px;
  text-align: center;
}
.para {
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
}
.main-btn {
  width: fit-content;
  display: flex;

  margin-left: 355px;
  margin-top: 115px;
  align-items: center;
  /* position: relative;
  bottom: 50px; */
}

.chat-btn {
  display: flex;
  gap: 13px;
  align-items: center;
  padding: 10px 25px;
  background: black;
  color: white;
  border-radius: 8px;
}
.call-btn {
  display: flex;
  gap: 13px;
  align-items: center;
  padding: 10px 25px;
  background: black;
  color: white;
  margin-left: 60px;
  border-radius: 8px;
}
.email button {
  padding: 11px 100px;
  background-color: transparent;
  color: black;
  margin-left: 348px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 13px;
  font-weight: bold;
  transition: 0.4s all ease-in-out;
}
.email button:hover {
  background-color: black;
  color: white;
  transition: 0.4s all ease-in-out;
}
/* Form Page Styling*/

.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 220px;
}
.formLogo {
}
.formLogo img {
  height: 300px;
  margin-right: 400px;
  position: relative;
  /* bottom: 260px; */
  /* right: 400px; */
}
.form-control {
  display: flex;
  flex-direction: column;
  border-color: transparent;
}
.form-control input {
  height: 40px;
  padding: 0px 10px;
  width: 400px;
  font-weight: 500;
}
.form-control label {
  position: relative;
  top: 10px;
  font-size: 15px;
  left: 20px;
  background-color: white;
  padding: 0px 10px;
  width: fit-content;
  font-weight: bold;
}
.hero-form {
  margin-left: 65px;
  margin-top: 30px;
}
textarea {
  padding: 20px 9px;
}
.submit {
  width: fit-content;
  margin: 5px auto;
}
.submit button {
  background-color: black;
  padding: 4px 15px;
  border-radius: 6px;

  color: white;
}
.hook {
  font-size: 20px;
  font-weight: bolder;
}
.fullCont {
  margin-bottom: 100px;
  /* background-color: red; */
  height: calc(100px - 30px);
}
